<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %>
    <%= @post.errors[:author][0] %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= @post.errors[:title][0] %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= @post.errors[:body][0] %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= @post.errors[:tags][0] %><br>
    <% if @post.errors[:tags].length > 0 %>
      <div class="field_with_errors">
    <% end %>
    <input type="text" id="post_tags" name="post_tags" value="<%= @tag_string %>"/>
    <% if @post.errors[:tags].length > 0 %>
      </div>
    <% end %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
