<p id="notice"><%= notice %></p>

<h1> Filter by tag </h1>
<div>
<% @tags.each do |tag| %>
  <div>#<%= link_to tag.name, root_url + "posts/filter/#{CGI.escape tag.name}", class: "filter-by-tag"%></div>
<% end %>
</div>
<br>
<%= link_to 'New Post', new_post_path %>
<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Body</th>
      <th>Tags</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <% tag_string = '' %>
      <% post.tags.each do |t| %>
        <% tag_string += t[:name] + ', '%>
      <% end %>
      <% tag_string = tag_string[0...-2] %>
      <%= content_tag :tr, id: "post-row-#{post.id}" do -%>
        <td class="post-author"><%= post.author %></td>
        <td class="post-title"><%= post.title %></td>
        <td class="post-body"><%= post.body %></td>
        <td class="post-tags"><%= tag_string %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end -%>
    <% end %>
  </tbody>
</table>

<br>
